header, footer{
    height: 100px;
    font-size:26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    color: #ffffff;
}
body{
    /* background-color: blue; */
}

.image-container {
    max-width: 90%; /* Set a maximum width for the image container */
  }
  
  @media (max-width: 767px) {
    .image-container {
      max-width: none; /* Remove the maximum width on smaller screens */
    }
  }